body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ac1a1a;
}

header {
    background-color: #333;
    color: #b80c0c;
    padding: 20px;
    text-align: center;
}








p {
    font-size: 1.1em;
    color: #9b4141;
    line-height: 1.6;
    text-align: center;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}




section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #eb3737;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}



.project a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


